[submodule "modules/CBM_core"]
	path = modules/CBM_core
	url = https://github.com/PredictiveEcology/CBM_core
[submodule "modules/CBM_defaults"]
	path = modules/CBM_defaults
	url = https://github.com/PredictiveEcology/CBM_defaults
[submodule "modules/CBM_vol2biomass_RIA"]
	path = modules/CBM_vol2biomass_RIA
	url = https://github.com/cboisvenue/CBM_vol2biomass_RIA.git
[submodule "modules/CBM_dataPrep_RIAfri"]
	path = modules/CBM_dataPrep_RIAfri
	url = https://github.com/cboisvenue/CBM_dataPrep_RIAfri.git
[submodule "modules\\CBM_dataPrep_RIApresentDay"]
	path = modules\\CBM_dataPrep_RIApresentDay
	url = https://github.com/cboisvenue/CBM_dataPrep_RIApresentDay.git
